.form-login{
    width: 30%;
     margin: 0 auto;
     margin-top: 200px
 }
 .form-login input[type="text"],input[type="password"]{
     width: 100%;
     height: 40px;
     border: 1px solid #323C8D;
     border-radius:5px ;
     margin-top: 15px;
     outline: none;
     font-size: 20px;
 }
 .form-login input[type="submit"]{
     color: white;
     background-color: #323C8D ;
     border: none;
     width: 100%;
     margin-top: 15px;
     height: 40px;
     font-size: 20px;
     transition: all 0.3s;
 
 }
 .form-login input[type="submit"]:hover{
     background-color: #283385;
 }