
.table_feedback tr td{
    border: 2px solid #283385;
    font-size: 22px;
    text-align: center;
}
.table_feedback th{
    font-size: 22px;
    text-align: center;
}
.del_btn{
    color: white;
    background-color: rgb(189, 58, 58);
    border: none;
    border-radius:5px;
    transition: all 0.3s;
    font-size: 20px;

}
.del_btn:hover{
    background-color:rgb(196, 35, 35) ;
}
.reduct_btn{
    color: white;
    background-color: #323C8D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    padding: 2px;
    font-size: 20px;
}
.reduct_btn:hover{
   background-color: #283385;
}
.add_button{
    text-decoration: none;
    background-color: #323C8D;
    transition: all 0.3s;
    color: white;
    border: none;
    float: center;
    border-radius: 5px;
    padding: 5px 5px;
}
.add_button:hover{
    background-color: #283385;
}
.add{
    width: 30%;
}
.navbar-nav .nav-link {
    position: relative;
    transition: all 0.3s;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #323C8D;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: bottom right;
}

.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-link.active::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navbar-brand{
    margin-left: 20px;
    font-weight: 300;
}
