.form-select{
    border:2px solid #323C8D;
    outline: none;
    box-shadow: none;
    appearance: none; 
    -webkit-appearance: none;
     -moz-appearance: none; 
     background-color: transparent; 
    
}
.btn_sort{
    color: white;
    background-color: #323C8D;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    height: 40px;
    border-radius: 5px;
}
.btn_sort:hover{
    background-color: #283385;
}
.sort{
    margin-top: 20px;

}
.images_cont{
    margin-top: 35px;
}
.images_rows{
    margin-top: 10px;
}
.image_container{
    margin-top: 35px;
}
.types {
    font-weight: 500;
    color: #323C8D;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.types.show {
    opacity: 1;
    transform: translateX(0);
}
.image_container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.image_container.show {
    opacity: 1;
    transform: translateY(0);
}
